{% extends 'base_board.html' %}

{% block content %}
<div class="row d-flex justify-content-center ">
    <h2>Répondre une critique</h2>
</div>
<div class="row d-flex justify-content-center py-2">
    <article class="col-lg-6">
        <div class="border rounder 3px bg-light mt-4 pl-3 pr-3 py-2">
            <span class="font-weight-italic">Vous êtes en train d'écrire à {{ ticket.user.username.capitalize}}
            </span>
            {% if form.review.id %}
            <form class="font-weight-bold" method="POST" enctype="multipart/form-data"
                action="{% url 'board:update-review' id_review=form.review.id %}">
                {% else %}
                <form class="font-weight-bold" method="POST" action="{% url 'board:review' %}"
                    enctype="multipart/form-data">
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="headline">Impression générale</label>
                        <input type="text" class="form-control" id="headline" name="headline">
                    </div>
                    <div class="form-group">
                        <label for="rating">Note</label><br>
                        <div class="d-flex justify-content-evenly">
                            {% for i in r %}
                            <div>
                                <input type="radio" id="{{i}}" name="rating" value="{{ i }}" required>
                                <label for="{{i}}">- {{i}}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="body">Commentaire</label>
                        <textarea class="form-control" id="body" name="body" rows="5"></textarea>
                    </div>
                    <div class="text-right">
                        <input class="btn btn-success" type="submit" value="Envoyer">
                    </div>
                </form>
        </div>
    </article>
</div>
{% endblock %}