{% extends 'base_board.html' %}


{% block content %}
{% if not tickets %}
<div class="row d-flex justify-content-center py-2">
    <p class="font-weight-bold">Les utilisateurs qu vous suivez n'ont pas encore écrit.</p>
</div>

{% else %}
{% for ticket in tickets %}
<div class="row d-flex justify-content-center py-2">
    <div class="col-lg-6">
        <div class="flux border border-secondary rounded mt-4 pl-3 pr-3 py-2">
            <p><span class="font-weight-bold">{{ ticket.user.username.capitalize }} a demandé une critique</span>
                <span class="font-weight-light">{{ ticket.time_created }}</span>
            </p>
            <div class="box text-center">
                <h5 class="font-weight-bold">
                    {{ ticket.title }}
                </h5>
            </div>
            <div class="container pt-3">
                <div class="row">
                    <div class="col flex-grow-0 px-1">
                        {% if ticket.image %}
                        <img src="{{ ticket.image.url }}" width="140" height="140" alt="{{ticket.title}}" />
                        {% endif %}
                    </div>
                    <div class="col-9 text-justify">
                        {{ ticket.description|safe }}
                    </div>
                </div>
            </div>

            <div>
                {% if not ticket.review_set.all %}
                <div class="text-right">
                    <a class="button" href="{% url 'board:comment' ticket.id %}">
                        Répondre
                    </a>
                </div>
                {% endif %}
                {% for review in ticket.review_set.all %}
                <div class="ticket border rounder 3px bg-light mt-4 pl-3 pr-3 py-2">
                    <p><span class="font-weight-bold">Critique publiée par {{ review.user.username.capitalize }}</span>
                        <span class="font-weight-light">{{ review.time_created }}</span>
                    </p>
                    <div class="box text-center">
                        <h5>{{ review.headline }}</h5>
                    </div>
                    <div class="box">
                        {{ review.body }}
                    </div>
                    <div class="box pt-2">
                        <h5>Note : {{ review.rating }}<span class="text-warning">&#9733</span></h5>
                    </div>
                    {% if review.user == user %}
                    <div class="text-right">
                        <a type="button" href="{% url 'board:update_review' review.id %}">
                            Modifier
                        </a>
                        <a class="text-warning" href="{% url 'board:delete_review' review.id %}"
                            onclick="return confirm('Etes-vous sur de vouloir supprimer ?')">
                            Supprimer
                        </a>
                    </div>
                    {% endif %}
                </div>

                {% endfor %}
            </div>
        </div>
        </article>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}