{% extends 'base_board.html' %}


{% block content %}
<div class="row d-flex justify-content-center ">
    <h2>Ecrire une critique complète</h2>
</div>
<div class="row d-flex justify-content-center py-2">
    <article class="col-lg-6">
        <div class="border rounder 3px bg-light mt-4 pl-3 pr-3 py-2">
            <form class="font-weight-bold" method="POST" action="{% url 'board:review' %}">
                {% csrf_token %}
                {{ form_ticket.as_p}}
                {{form_review.as_p}}
                <div class="text-right">
                    <input class="btn btn-success" type="submit" value="Envoyer">
                </div>
            </form>
        </div>
    </article>
</div>

{% endblock %}