{% extends 'base_board.html' %}


{% block content %}
<div class="row d-flex justify-content-center py-2">
    <div class="col-lg-6">
        <div class="container">
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item mt-2">Rechercher d'autres utilisateurs</li>
                <div class="col">
                    <form method="POST" action="{% url 'follow:follow' %}">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between">
                            <input class="form-control col-7" type="text" name="username" width="30"
                                placeholder="Nom d'utilisateur" required>
                            <input class="btn btn-primary col-4 ml-1" type="submit" value="S'abonner" />
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger"> {{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </ol>
        </div>
        <div class="container">
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item active-color">Abonnements</li>
            </ol>
            <table class="table">
                <thead class="thead-inverse">
                    <tr class="text-center">
                        <th>Utilisateurs</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    {% for followed in user_follows %}
                        {% if followed.user == user %}
                            <tr>
                                <td class="col-10 border rounder">{{ followed.followed_user.username|capfirst }}
                                </td>
                                <td class="col-2 border rounder">
                                    <a class="btn btn-danger" type="submit"
                                        href="{% url 'follow:unfollow' followed.followed_user %}"
                                        onclick="return confirm('Etes-vous sur de vous désabonner ?')">Se
                                        désabonner</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container">
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item active-color">Abonnés</li>
            </ol>
            <table class="table">
                <tbody>
                    {% for followed in user_follows %}
                        {% if followed.followed_user == user %}
                            <tr>
                                <td class="border rounder">{{ followed.user.username|capfirst }}</td>
                            </tr>
                        {% elif followed.followed_user == None %}
                            <tr>
                                <td class="border rounder">Pas d'abonnés</td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}