{%extends 'base_login.html'%}


{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Connectez-vous</h3>
                <form method="POST" action="{% url 'login:index' %}">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="btn btn-primary btn-block" type="submit" value="Se connecter">
                </form>
            </div>
            <div class="card-footer text-muted text-center">
                Inscrivez-vous maintenant <a href="{% url 'login:signup' %}" class="button primary fit">S'inscrire</a>
            </div>
        </div>
        <div class="text-center py-2">
            <small>
                <a href="#" class="text-muted">Mot de passe oublié ?</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}